In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import re

In [2]:
df = pd.read_csv('all_accident_data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15120 entries, 0 to 15119
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            15120 non-null  int64
 1   index                 15120 non-null  int64
 2   crash_url             15120 non-null  object
 3   case_id               15099 non-null  object
 4   crash_id              15120 non-null  int64
 5   crash_city            15120 non-null  object
 6   crash_date            15120 non-null  object
 7   crash_latitude        15120 non-null  float64
 8   crash_longitude       15120 non-null  float64
 9   police_dept           15120 non-null  object
 10  accident_factor       13220 non-null  object
 11  speed_limit           15120 non-null  object
 12  crash_location        15120 non-null  object
 13  num_of_injuries       15120 non-null  int64
 14  num_of_vehicles       15120 non-null  int64
 15  num_of_occupants      15120 non-null  int64
 16  at_fault              15120 non-null  int64
 17  car_contained_injury  15120 non-null  int64
 18  car_make              14138 non-null  object
 19  car_year              12954 non-null  object
 20  car_color             14260 non-null  object
 21  car_vin               15120 non-null  object
 22  driver_age            10746 non-null  float64
 23  driver_gender         12642 non-null  object
 24  driver_ethnicity      12642 non-null  object
 25  driver_residence      0 non-null      float64
 26  driver_car_damage     15120 non-null  object
 27  driver_license_type   12642 non-null  object
 28  driver_license_state  13369 non-null  object
 29  driver_insured        15120 non-null  object
 30  traffic_conditions    14764 non-null  object
 31  weather_conditions    14597 non-null  object
dtypes: float64(4), int64(8), object(20)
memory usage: 3.7+ MB

In [3]:
from prepare import prep_driver_data, prep_vehicle_data, prep_damage_data, initial_prep,create_fault_factor_cols
df = initial_prep(df)
df = prep_driver_data(df)
df = prep_vehicle_data(df)
df = prep_damage_data(df)
df = create_fault_factor_cols(df)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15120 entries, 0 to 15119
Data columns (total 38 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   crash_url             15120 non-null  object
 1   crash_id              15120 non-null  int64
 2   crash_date            15120 non-null  object
 3   crash_latitude        15120 non-null  float64
 4   crash_longitude       15120 non-null  float64
 5   accident_factor       15120 non-null  object
 6   speed_limit_mph       15120 non-null  int64
 7   num_of_injuries       15120 non-null  int64
 8   num_of_vehicles       15120 non-null  int64
 9   num_of_occupants      15120 non-null  int64
 10  at_fault              15120 non-null  int64
 11  car_contained_injury  15120 non-null  int64
 12  vehicle_make          13383 non-null  object
 13  vehicle_year          15120 non-null  int64
 14  vehicle_color         14260 non-null  object
 15  vin                   13252 non-null  object
 16  driver_age            15120 non-null  int64
 17  driver_gender         10864 non-null  object
 18  driver_ethnicity      10676 non-null  object
 19  dl_state              13005 non-null  object
 20  traffic_conditions    14764 non-null  object
 21  weather_conditions    14597 non-null  object
 22  cdl                   15120 non-null  int64
 23  unlicensed            15120 non-null  int64
 24  dl_class_a            15120 non-null  int64
 25  dl_class_b            15120 non-null  int64
 26  dl_class_m            15120 non-null  int64
 27  vehicle_dmg_zone      15120 non-null  int64
 28  concentrated_damage   15120 non-null  int64
 29  distributed_damage    15120 non-null  int64
 30  rollover_damage       15120 non-null  int64
 31  vehicle_burned        15120 non-null  int64
 32  distraction           15120 non-null  int64
 33  maneuver              15120 non-null  int64
 34  speed                 15120 non-null  int64
 35  intoxication          15120 non-null  int64
 36  fatigue               15120 non-null  int64
 37  yield                 15120 non-null  int64
dtypes: float64(2), int64(25), object(11)
memory usage: 4.5+ MB

In [5]:
# replaces Xs with *s in VIN for improved use with NTHSA cross reference
#df.car_vin = df.car_vin.apply(lambda row: re.sub(r'(\w{4})X+(\d{4})', r'\1*********\2', row))
# creates column with shorthand vehicle damage
#df['vehicle_damage_abbr'] = df.driver_car_damage.apply(lambda row: re.search(r'^(\S+){1,4}.+', row).group(1))
# replaces non numerical values and transforms dtype to int
#df.car_year = df.car_year.apply(lambda row: re.sub(r'\s?(\d{4})(.0)?', r'\1', str(row)))
#df.car_year = df.car_year.apply(lambda row: re.sub(r'(\s*[A-Z\sa-z]+\s*)', r'-1', str(row)))

In [4]:
df.crash_date = df.crash_date.apply(lambda row: pd.to_datetime(row).strftime('%m/%d/%Y %H:%M:%S'))
df['crash_time'] = pd.to_datetime(df['crash_date']).dt.time
df['crash_date'] = pd.to_datetime(df['crash_date']).dt.date

In [7]:
# set DL state as Texas, Other, or NaN
#df.driver_license_state = np.where(df.driver_license_state.isin(['UNKNOWN', 'Unknown']), np.nan, df.driver_license_state)
#df.driver_license_state = np.where(df.driver_license_state.isin(['Texas', np.nan]), df.driver_license_state, 'Other')

# drop columns
#df = df.drop(columns=['Unnamed: 0', 'crash_city', 'police_dept', 'driver_residence', 'index','crash_url'])

In [8]:
# Altering speed limit coliumn to just cotain numerical value

In [15]:
#df.weather_conditions.value_counts()

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15120 entries, 0 to 15119
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   crash_url             15120 non-null  object
 1   crash_date            15120 non-null  object
 2   crash_latitude        15120 non-null  float64
 3   crash_longitude       15120 non-null  float64
 4   accident_factor       13220 non-null  object
 5   speed_limit           15120 non-null  object
 6   crash_location        15120 non-null  object
 7   num_of_injuries       15120 non-null  int64
 8   num_of_vehicles       15120 non-null  int64
 9   num_of_occupants      15120 non-null  int64
 10  at_fault              15120 non-null  int64
 11  car_contained_injury  15120 non-null  int64
 12  vehicle_make          13383 non-null  object
 13  vehicle_year          15120 non-null  int64
 14  vehicle_color         13573 non-null  object
 15  vin                   13252 non-null  object
 16  driver_age            15120 non-null  int64
 17  driver_gender         10864 non-null  object
 18  driver_ethnicity      10676 non-null  object
 19  dl_state              13005 non-null  object
 20  traffic_conditions    14764 non-null  object
 21  weather_conditions    14597 non-null  object
 22  cdl                   15120 non-null  int64
 23  unlicensed            15120 non-null  int64
 24  dl_class_a            15120 non-null  int64
 25  dl_class_b            15120 non-null  int64
 26  dl_class_m            15120 non-null  int64
 27  vehicle_dmg_zone      15120 non-null  int64
 28  concentrated_damage   15120 non-null  int64
 29  distributed_damage    15120 non-null  int64
 30  rollover_damage       15120 non-null  int64
 31  vehicle_burned        15120 non-null  int64
 32  crash_time            15120 non-null  object
dtypes: float64(2), int64(17), object(14)
memory usage: 3.8+ MB

In [17]:
df2 = df[(df.crash_date.astype(str) == '2021-02-25') & (df.crash_date.astype(str) >= '2021-02-24')]

In [18]:
df2[['crash_location', 'crash_date', 'weather_conditions', 'crash_time']]

,crash_location,crash_date,weather_conditions,crash_time
12513,"IH0410 , San Antonio, Bexar, TX, US",2021-02-25,RAIN,23:50:00
12514,"ATHENIAN DR 8598, Universal City, Bexar, TX, US",2021-02-25,RAIN,23:43:00
12515,"IH0410 1494, San Antonio, Bexar, TX, US",2021-02-25,RAIN,23:40:00
12516,"IH0410 1494, San Antonio, Bexar, TX, US",2021-02-25,RAIN,23:40:00
12517,"IH0035 , Unknown, Bexar, TX, US",2021-02-25,CLEAR,23:40:00
...,...,...,...,...
12693,"PETTUS ST 3801, San Antonio, Bexar, TX, US",2021-02-25,CLOUDY,02:28:00
12694,"PETTUS ST 3801, San Antonio, Bexar, TX, US",2021-02-25,CLOUDY,02:28:00
12695,"FM0471 , San Antonio, Bexar, TX, US",2021-02-25,RAIN,02:24:00
12696,"CINNAMON CREEK DR 8600, San Antonio, Bexar, TX...",2021-02-25,CLEAR,02:22:00
12697,"IH0010 13370, San Antonio, Bexar, TX, US",2021-02-25,RAIN,01:44:00

In [19]:
#df.weather_conditions = np.where(((df.crash_date.astype(str) == '2021-0.aggregate-14') & (df.weather_conditions == 'OTHER (EXPLAIN IN NARRATIVE)')), 'SNOW', df.weather_conditions)

In [23]:
#date_list1 = ['2021-02-13','2021-02-17','2021-07-21','2021-02-19','2021-02-14','2021-02-25','2021-02-15','2021-02-16', '2021-02-20']     
#for date in date_list1:
 #   df.weather_conditions = np.where(((df.crash_date.astype(str) == str(date)) & ((df.weather_conditions == 'OTHER (EXPLAIN IN NARRATIVE)') | (df.weather_conditions == 'UNKNOWN')) ), 'SNOW', df.weather_conditions) 
    
#date_list2 = ['2021-02-25','2021-07-14']     
#for date in date_list2:
 #   df.weather_conditions = np.where(((df.crash_date.astype(str) == str(date)) & (df.weather_conditions == 'OTHER (EXPLAIN IN NARRATIVE)')), 'CLOUDY', df.weather_conditions)

In [5]:
df.weather_conditions.value_counts()

CLEAR                           9590
CLOUDY                          2896
RAIN                            1247
SLEET/HAIL                       384
SNOW                             296
UNKNOWN                           98
OTHER (EXPLAIN IN NARRATIVE)      66
FOG                               14
BLOWING SAND/SNOW                  6
Name: weather_conditions, dtype: int64

In [12]:
d3 = df[df.crash_date.astype(str) == '2021-06-14']
d3[['crash_date', 'weather_conditions']].weather_conditions.value_counts()

CLEAR      235
CLOUDY      14
UNKNOWN      4
FOG          2
Name: weather_conditions, dtype: int64

In [27]:
dates = [str(x) for x in df[df.weather_conditions == 'UNKNOWN'].crash_date.value_counts().sort_index().index.tolist()]

for date in dates:
    d3 = df[df.crash_date.astype(str) == date]
    print(len(dates))
    print(date)
    print(d3[['crash_date', 'weather_conditions']].weather_conditions.value_counts(dropna = False))
    print('----------------------')

In [5]:
def clean_weather_cats(df):
    '''
    fucntion takes in a df and lower cases, and removes whitespaces from all weather conditions.
    changing unknown, other (explain in Narrative), fog, blowing sand/snow and combining it into
    value defined as other.
    '''
    
    # turn object into string and lowercase, strip terminal whitespace
    df.weather_conditions = df.weather_conditions.apply(lambda row: str(row).lower().strip())
    # convert categories no in weather list into "other"
    weather = ['clear', 'cloudy', 'rain', 'sleet', 'hail', 'snow', 'nan']
    df.weather_conditions = df.weather_conditions.apply(lambda row: row
                                                        if any(x in row for x in weather)
                                                        and 'sand' not in row
                                                        else 'other')
    # fill string "nan" values with np.nan for later handling
    df.weather_conditions = df.weather_conditions.apply(lambda row: np.nan
                                                        if row == 'nan'
                                                        else row)
    
    return df

In [8]:
df = clean_weather_cats(df)

In [12]:
df.weather_conditions.value_counts(dropna =False)

clear         9590
cloudy        2896
rain          1247
NaN            523
sleet/hail     384
snow           296
other          184
Name: weather_conditions, dtype: int64

In [ ]:
dates = [str(x) for x in df[df.weather_conditions == 'UNKNOWN'].crash_date.value_counts().sort_index().index.tolist()]
def weather_condtion_prep(df, dates):
    '''
    dates variable needs to be definded with example below:
    dates = [str(x) for x in df[df.weather_conditions == 'UNKNOWN'].crash_date.value_counts().sort_index().index.tolist()]
    '''
for date in dates:
    d3 = df[df.crash_date.astype(str) == date]
    d3[['crash_date', 'weather_conditions']].weather_conditions.value_counts()
    df.weather_conditions = np.where(((df.crash_date.astype(str) == str(date)) & (df.weather_conditions == 'UNKNOWN')))

In [23]:
#df[df.weather_conditions == 'OTHER (EXPLAIN IN NARRATIVE)'].loc[df['crash_date'] == '2021-02-14'] 
#df[(df.crash_date.astype(str) == '2021-07-14') & (df.weather_condistions == 'OTHER (EXPLAIN IN NARRATIVE)')]

In [26]:
df[(df.crash_date.astype(str) == '2021-06-14')].groupby(['crash_date']).weather_conditions.value_counts()

crash_date  weather_conditions
2021-06-14  CLEAR                 235
            CLOUDY                 14
            UNKNOWN                 4
            FOG                     2
Name: weather_conditions, dtype: int64

In [56]:
df[(df.crash_date.astype(str) >= '2021-02-14') & (df.crash_date.astype(str) <= '2021-02-15')].set_index('crash_date').sort_index().head(10)

,crash_url,crash_latitude,crash_longitude,accident_factor,speed_limit,crash_location,num_of_injuries,num_of_vehicles,num_of_occupants,at_fault,...,unlicensed,dl_class_a,dl_class_b,dl_class_m,vehicle_dmg_zone,concentrated_damage,distributed_damage,rollover_damage,vehicle_burned,crash_time
crash_date,,,,,,,,,,,,,,,,,,,,,
2021-02-14,https://app.myaccident.org/accident/0000281810...,29.417835,-98.663122,NaN,45,"MARBACH RD 9024, San Antonio, Bexar, TX, US",1,3,4,0,...,1,0,0,0,7,0,0,0,0,14:05:00
2021-02-14,https://app.myaccident.org/accident/0000281811...,29.456901,-98.323454,The driver of 2000 FORD FAILED TO CONTROL SPEED,45,"IH0010 , San Antonio, Bexar, TX, US",0,1,1,1,...,0,0,0,0,1,0,1,0,0,08:57:00
2021-02-14,https://app.myaccident.org/accident/0000281811...,29.425756,-98.512603,The driver of CHEVROLET DRIVER INATTENTION,30,"BUENA VISTA ST 1326, San Antonio, Bexar, TX, US",0,2,3,1,...,0,0,0,0,1,0,0,0,0,08:56:00
2021-02-14,https://app.myaccident.org/accident/0000281811...,29.425756,-98.512603,The driver of CHEVROLET DRIVER INATTENTION,30,"BUENA VISTA ST 1326, San Antonio, Bexar, TX, US",0,2,3,0,...,0,0,0,0,5,0,0,0,0,08:56:00
2021-02-14,https://app.myaccident.org/accident/0000281810...,29.213223,-98.502748,NaN,65,"SL1604 249, Unknown, Bexar, TX, US",0,1,2,0,...,1,0,0,0,1,0,1,0,0,08:56:00
2021-02-14,https://app.myaccident.org/accident/0000281810...,29.546188,-98.435634,The driver of 2006 MITSUBISHI FAILED TO CONTRO...,60,"PA1502 0, San Antonio, Bexar, TX, US",0,2,2,1,...,0,0,0,0,1,0,1,0,0,08:51:00
2021-02-14,https://app.myaccident.org/accident/0000281810...,29.546188,-98.435634,The driver of 2006 MITSUBISHI FAILED TO CONTRO...,60,"PA1502 0, San Antonio, Bexar, TX, US",0,2,2,0,...,0,0,0,0,7,0,1,0,0,08:51:00
2021-02-14,https://app.myaccident.org/accident/0000281811...,29.515379,-98.423156,The driver of 2008 DODGE OTHER (EXPLAIN IN NAR...,45,"NE I 410 LOOP , San Antonio, Bexar, TX, US",0,1,1,1,...,0,0,0,0,6,0,0,0,0,08:50:00
2021-02-14,https://app.myaccident.org/accident/0000281811...,29.560486,-98.420549,The driver of 2004 DODGE OTHER (EXPLAIN IN NAR...,40,"THOUSAND OAKS DR 3879, San Antonio, Bexar, TX, US",0,1,3,1,...,0,0,0,0,9,0,0,1,0,08:48:00
2021-02-14,https://app.myaccident.org/accident/0000281812...,29.554120,-98.484655,The driver of 2018 HONDA UNDER INFLUENCE - ALC...,60,"PA1502 , San Antonio, Bexar, TX, US",2,4,3,1,...,0,0,0,0,1,0,0,0,0,08:47:00

In [11]:
df.weather_conditions.isna().value_counts()

False    14597
True       523
Name: weather_conditions, dtype: int64

In [37]:
df[df.crash_date.astype(str) == '2021-02-25'].head(1)

,crash_url,case_id,crash_id,crash_date,crash_latitude,crash_longitude,accident_factor,speed_limit,crash_location,num_of_injuries,...,driver_gender,driver_ethnicity,driver_car_damage,driver_license_type,driver_license_state,driver_insured,traffic_conditions,weather_conditions,vehicle_damage_abbr,crash_time
12513,https://app.myaccident.org/accident/0000281812...,SAPD21035445,18125431,2021-02-25,29.515844,-98.436448,The driver of 2009 HONDA FAILED TO CONTROL SPE...,65 MPH,"IH0410 , San Antonio, Bexar, TX, US",0,...,Male,Black,LFQ - LEFT FRONT QUARTER DAMAGE ANGULAR IMPACT,"Driver license, class c",Texas,Yes,MARKED LANES,RAIN,LFQ,23:50:00

In [16]:
#df.weather_conditions = np.where(df.weather_conditions.isin(['OTHER (EXPLAIN IN NARRATIVE)']), np.nan, df.weather_conditions)

In [9]:
df.weather_conditions.value_counts()

CLEAR                           9590
CLOUDY                          2896
RAIN                            1247
SLEET/HAIL                       384
SNOW                             296
UNKNOWN                           98
OTHER (EXPLAIN IN NARRATIVE)      66
FOG                               14
BLOWING SAND/SNOW                  6
Name: weather_conditions, dtype: int64

In [35]:
df[(df.crash_date.astype(str) >= '2020-12-27') & (df.crash_date.astype(str) <= '2021-01-09')].set_index('crash_date').sort_index().head(5)

,crash_url,case_id,crash_id,crash_latitude,crash_longitude,accident_factor,speed_limit,crash_location,num_of_injuries,num_of_vehicles,...,driver_gender,driver_ethnicity,driver_car_damage,driver_license_type,driver_license_state,driver_insured,traffic_conditions,weather_conditions,vehicle_damage_abbr,crash_time
crash_date,,,,,,,,,,,,,,,,,,,,,
2021-01-07,https://app.myaccident.org/accident/0000281834...,sapd21126067,18343643,29.434595,-98.478702,The driver of undefined DISREGARD STOP SIGN OR...,30 MPH,"E JONES AVE 401, San Antonio, Bexar, TX, US",0,2,...,Male,Hispanic,UNKNOWN,"Unknown, unknown",NaN,Unknown,MARKED LANES,CLEAR,UNKNOW,23:46:00
2021-01-07,https://app.myaccident.org/accident/0000281834...,sapd21126067,18343643,29.434595,-98.478702,The driver of undefined DISREGARD STOP SIGN OR...,30 MPH,"E JONES AVE 401, San Antonio, Bexar, TX, US",0,2,...,Male,Black,LP - LEFT SIDE DAMAGE ANGULAR IMPACT,"Driver license, class c",Texas,Yes,MARKED LANES,CLEAR,LP,23:46:00
2021-01-07,https://app.myaccident.org/accident/0000281835...,SAPD21126072,18356174,29.606144,-98.600762,The driver of CHANGED LANE WHEN UNSAFE,40 MPH,"LA CANTERA PKWY , San Antonio, Bexar, TX, US",0,2,...,Unknown,Unknown,UNKNOWN,"Unknown, unknown",NaN,Unknown,SIGNAL LIGHT,CLOUDY,UNKNOW,23:05:00
2021-01-07,https://app.myaccident.org/accident/0000281835...,SAPD21126072,18356174,29.606144,-98.600762,The driver of CHANGED LANE WHEN UNSAFE,40 MPH,"LA CANTERA PKWY , San Antonio, Bexar, TX, US",0,2,...,Male,Hispanic,LP - LEFT SIDE DAMAGE ANGULAR IMPACT,"Driver license, class c",Texas,Yes,SIGNAL LIGHT,CLOUDY,LP,23:05:00
2021-01-07,https://app.myaccident.org/accident/0000281834...,SAPD21126043,18344499,29.605568,-98.601863,The driver of 2011 TOYOTA FAILED TO YIELD RIGH...,45 MPH,"IH0010 , San Antonio, Bexar, TX, US",4,2,...,Female,White,FR - FRONT END (RIGHT) DAMAGE PARTIAL CONTACT,"Driver license, class c",Texas,Yes,MARKED LANES,CLEAR,FR,23:00:00

In [20]:
df[df.weather_conditions.isna() == True].crash_date.sort_values().head(50)

6846    2021-06-13
6845    2021-06-13
6844    2021-06-13
6593    2021-06-14
6645    2021-06-14
6592    2021-06-14
6646    2021-06-14
6379    2021-06-15
6378    2021-06-15
6371    2021-06-15
6370    2021-06-15
6308    2021-06-15
6307    2021-06-15
6275    2021-06-15
6274    2021-06-15
6557    2021-06-15
6009    2021-06-16
6010    2021-06-16
6027    2021-06-16
6028    2021-06-16
6033    2021-06-16
6034    2021-06-16
6085    2021-06-16
6246    2021-06-16
6084    2021-06-16
6245    2021-06-16
6091    2021-06-16
6159    2021-06-16
6092    2021-06-16
6160    2021-06-16
5997    2021-06-17
5956    2021-06-17
5942    2021-06-17
5902    2021-06-17
5901    2021-06-17
5753    2021-06-17
5868    2021-06-17
5822    2021-06-17
5754    2021-06-17
5943    2021-06-17
5869    2021-06-17
5497    2021-06-18
5467    2021-06-18
5476    2021-06-18
5477    2021-06-18
5496    2021-06-18
5500    2021-06-18
5501    2021-06-18
5535    2021-06-18
5466    2021-06-18
Name: crash_date, dtype: object

In [15]:
df[df.weather_conditions.isna() == True].crash_date.value_counts().sort_index().head(50)

2021-06-13     3
2021-06-14     4
2021-06-15     9
2021-06-16    14
2021-06-17    11
2021-06-18    18
2021-06-19     5
2021-06-20     7
2021-06-21    11
2021-06-22    16
2021-06-23    15
2021-06-24    16
2021-06-25     9
2021-06-26    11
2021-06-27     5
2021-06-28     8
2021-06-29    12
2021-06-30     5
2021-07-01    12
2021-07-02    17
2021-07-03     9
2021-07-04     8
2021-07-05    10
2021-07-06     5
2021-07-07     8
2021-07-08     9
2021-07-09    18
2021-07-10    11
2021-07-11     7
2021-07-12     5
2021-07-13     8
2021-07-14     2
2021-07-15    16
2021-07-16    13
2021-07-17     8
2021-07-18     8
2021-07-19     2
2021-07-20    17
2021-07-21     6
2021-07-22    13
2021-07-23     7
2021-07-24    21
2021-07-25     7
2021-07-26     6
2021-07-27     6
2021-07-28    17
2021-07-29     5
2021-07-30    12
2021-07-31     6
2021-08-02    12
Name: crash_date, dtype: int64

In [38]:
df.traffic_conditions.value_counts(dropna = False)

marked lanes                                  5422
none                                          3508
signal light                                  3051
stop sign                                     1236
center stripe/divider                          515
other (explain in narrative)                   416
nan                                            356
yield sign                                     335
signal light with red light running camera      83
officer                                         48
flashing red light                              43
inoperative (explain in narrative)              41
no passing zone                                 18
warning sign                                    13
flashing yellow light                           12
crosswalk                                       12
rr gate/signal                                   6
flagman                                          4
bike lane                                        1
Name: traffic_conditions, dtype: int64

In [34]:
df.traffic_conditions = df.traffic_conditions.apply(lambda row: str(row).lower().strip())
df.traffic_conditions.value_counts(dropna = False).index.tolist()

['marked lanes',
 'none',
 'signal light',
 'stop sign',
 'center stripe/divider',
 'other (explain in narrative)',
 'nan',
 'yield sign',
 'signal light with red light running camera',
 'officer',
 'flashing red light',
 'inoperative (explain in narrative)',
 'no passing zone',
 'warning sign',
 'flashing yellow light',
 'crosswalk',
 'rr gate/signal',
 'flagman',
 'bike lane']

In [28]:
df.replace({'marked lanes': 'marked_lanes','signal_light':'signal_light','stop sign':'stop_sign',\
                         'center stripe/divider':'center_stripe/divider','signal light with red light running camera':'signal_light',\
                         'yield_sign':'yield_sign','flashing yellow light':'flashing_light','flashing red light':'flashing_light'}, inplace = True)

In [9]:
def clean_road_cats(df):
    '''
    fucntion takes in a df and lower cases, and removes whitespaces from all traffic conditions.
    combines several fetaures into other, updates the value names
    '''
    
    # turn object into string and lowercase, strip terminal whitespace
    df.traffic_conditions = df.traffic_conditions.apply(lambda row: str(row).lower().strip())
    # convert categories not in traffic conditions list into "other"
    traffic = ['marked lanes','signal light','stop sign','center stripe/divider','nan','yield sign','signal light with red light running camera','officer','flashing yellow light','flashing red light']
    df.traffic_conditions = df.traffic_conditions.apply(lambda row: row
                                                        if any(x in row for x in traffic)
                                                        else 'other')
    # fill string "nan" values with np.nan for later handling
    df.traffic_conditions = df.traffic_conditions.apply(lambda row: np.nan
                                                        if row == 'nan'
                                                        else row)
    df.replace({'marked lanes': 'marked_lanes','signal light':'signal_light','stop sign':'stop_sign',\
                         'center stripe/divider':'center_stripe/divider','signal light with red light running camera':'signal_light',\
                         'yield_sign':'yield_sign','flashing yellow light':'flashing_light','flashing red light':'flashing_light'}, inplace = True)
    
    return df

In [10]:
df = clean_road_cats(df)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15120 entries, 0 to 15119
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   crash_url             15120 non-null  object
 1   crash_id              15120 non-null  int64
 2   crash_date            15120 non-null  object
 3   crash_latitude        15120 non-null  float64
 4   crash_longitude       15120 non-null  float64
 5   accident_factor       15120 non-null  object
 6   speed_limit_mph       15120 non-null  int64
 7   num_of_injuries       15120 non-null  int64
 8   num_of_vehicles       15120 non-null  int64
 9   num_of_occupants      15120 non-null  int64
 10  at_fault              15120 non-null  int64
 11  car_contained_injury  15120 non-null  int64
 12  vehicle_make          13383 non-null  object
 13  vehicle_year          15120 non-null  int64
 14  vehicle_color         14260 non-null  object
 15  vin                   13252 non-null  object
 16  driver_age            15120 non-null  int64
 17  driver_gender         10864 non-null  object
 18  driver_ethnicity      10676 non-null  object
 19  dl_state              13005 non-null  object
 20  traffic_conditions    14764 non-null  object
 21  weather_conditions    14597 non-null  object
 22  cdl                   15120 non-null  int64
 23  unlicensed            15120 non-null  int64
 24  dl_class_a            15120 non-null  int64
 25  dl_class_b            15120 non-null  int64
 26  dl_class_m            15120 non-null  int64
 27  vehicle_dmg_zone      15120 non-null  int64
 28  concentrated_damage   15120 non-null  int64
 29  distributed_damage    15120 non-null  int64
 30  rollover_damage       15120 non-null  int64
 31  vehicle_burned        15120 non-null  int64
 32  distraction           15120 non-null  int64
 33  maneuver              15120 non-null  int64
 34  speed                 15120 non-null  int64
 35  intoxication          15120 non-null  int64
 36  fatigue               15120 non-null  int64
 37  yield                 15120 non-null  int64
 38  crash_time            15120 non-null  object
dtypes: float64(2), int64(25), object(12)
memory usage: 4.6+ MB

In [13]:
df.traffic_conditions.value_counts()

other           11330
signal_light     3051
yield sign        335
officer            48
Name: traffic_conditions, dtype: int64

In [26]:
df[df.crash_latitude >= 29.54]

,crash_url,crash_id,crash_date,crash_latitude,crash_longitude,accident_factor,speed_limit_mph,num_of_injuries,num_of_vehicles,num_of_occupants,...,distributed_damage,rollover_damage,vehicle_burned,distraction,maneuver,speed,intoxication,fatigue,yield,crash_time
2,https://app.myaccident.org/accident/0000281836...,18362861,2021-07-12,29.608839,-98.492803,,45,0,2,2,...,0,0,0,0,0,0,0,0,0,18:55:00
3,https://app.myaccident.org/accident/0000281836...,18362861,2021-07-12,29.608839,-98.492803,,45,0,2,2,...,1,0,0,0,0,0,0,0,0,18:55:00
4,https://app.myaccident.org/accident/0000281837...,18378488,2021-07-12,29.597752,-98.562687,jeep inattention jeep distraction vehicle,45,0,2,9,...,1,0,0,1,0,0,0,0,0,18:45:00
5,https://app.myaccident.org/accident/0000281837...,18378488,2021-07-12,29.597752,-98.562687,jeep inattention jeep distraction vehicle,45,0,2,9,...,0,0,0,0,0,0,0,0,0,18:45:00
35,https://app.myaccident.org/accident/0000281836...,18360253,2021-07-12,29.602275,-98.459333,jeep inattention,45,0,2,2,...,1,0,0,1,0,0,0,0,0,18:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15089,https://app.myaccident.org/accident/0000281810...,18106534,2021-02-12,29.587122,-98.631485,,45,2,2,2,...,0,0,0,0,0,0,0,0,0,22:53:00
15094,https://app.myaccident.org/accident/0000281810...,18107288,2021-02-12,29.544402,-98.675954,mercury turned unsafe,-1,0,2,2,...,1,0,0,0,1,0,0,0,0,21:56:00
15095,https://app.myaccident.org/accident/0000281810...,18107288,2021-02-12,29.544402,-98.675954,mercury turned unsafe,-1,0,2,2,...,1,0,0,0,0,0,0,0,0,21:56:00
15096,https://app.myaccident.org/accident/0000281810...,18107693,2021-02-12,29.563079,-98.333762,hyundai followed closely,40,0,2,1,...,1,0,0,0,1,0,0,0,0,21:47:00
15097,https://app.myaccident.org/accident/0000281810...,18107693,2021-02-12,29.563079,-98.333762,hyundai followed closely,40,0,2,1,...,0,0,0,0,0,0,0,0,0,21:47:00

In [32]:
df.head(1).T

                                                                      0
crash_url             https://app.myaccident.org/accident/0000281836...
crash_id                                                       18365140
crash_date                                                   2021-07-12
crash_latitude                                                  29.4168
crash_longitude                                                -98.4095
accident_factor                                 new flyer turned unsafe
speed_limit_mph                                                      30
num_of_injuries                                                       0
num_of_vehicles                                                       2
num_of_occupants                                                      2
at_fault                                                              1
car_contained_injury                                                  0
vehicle_make                                                      other
vehicle_year                                                       2006
vehicle_color                                                      blue
vin                                                   5FYD*********0945
driver_age                                                           63
driver_gender                                                      Male
driver_ethnicity                                                      B
dl_state                                                          Texas
traffic_conditions                                                other
weather_conditions                                                CLEAR
cdl                                                                   1
unlicensed                                                            0
dl_class_a                                                            0
dl_class_b                                                            1
dl_class_m                                                            0
vehicle_dmg_zone                                                      5
concentrated_damage                                                   0
distributed_damage                                                    0
rollover_damage                                                       0
vehicle_burned                                                        0
distraction                                                           0
maneuver                                                              1
speed                                                                 0
intoxication                                                          0
fatigue                                                               0
yield                                                                 0
crash_time                                                     19:00:00